<!DOCTYPE html>
<html>
<head>
    <title>PHP Config</title>

    <script type="text/javascript" src="resources/js/jquery.min..js"></script>
    <script type="text/javascript" src="resources/js/custom.bundle.js"></script>
</head>
<body>

</body>
</html>