<!DOCTYPE html>
<html>
<head>
    <title>PHP Config</title>

    <script type="text/javascript" src="{{ resource_url('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ resource_url('js/custom.bundle.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ resource_url('css/style.css') }}" />
</head>
<body>

</body>
</html>